@media (min-width: 540px) {
    body {
        max-width: 960px;
        margin: 0 auto;
    }

    form {
        padding: 2rem;
        max-width: 600px;
    }

    /* .rating-group {
        justify-content: space-between;
    } */

    .checkbox-group div {
        margin-bottom: 1rem;
    }

    input[type="submit"] {
        width: 40%;
        margin: 1rem auto;
    }
}